@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

body{
    background: #555;
}

/* ヘッダー */
.header{
    position: relative;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 2.51%;
    padding-right: 6.53%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

.logo{
    width: 226.7px;
}

.pc-nav ul{
    display: flex;
}

.pc-nav li{
margin-right: 54px;
text-align: center;
width: 105px;
color: #ffff;
font-weight: bold;
font-size: 18px;
font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.pc-nav ul li:last-child{
    margin-right: 0;
}

/* ファーストビュー */
.slider-img{
    width: 100%;
}

/* PCメニューを消してハンバーガーメニューを出す */
.hamburger,
.sp-nav{
    display: none;
}

.slick-dots{
    bottom: 25px;
}

.slick-dots li.slick-active button::before{
    color: #fff;
}

.slick-dots li button:before{
    color: #fff;
}

/* スライダーの元の場所にあった・・の余白を消す */
.slick-dotted.slick-slider{
    margin-bottom: 0;
}


/* セクション */
.section1{
    background: #e8d9bf;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.section2{
    background: #e8d9bf;
    padding-top: 100px;
}
.section3{
    background: #fff;
    text-align: center;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

/* セクション コンセプト */
.concept1{
    font-size: 30px;
    text-align: center;
}
.concept2{
    font-size: 82px;
    margin-top: 50px;
    line-height: 1.17;
    text-align: center;
}
.concept3{
    font-size: 23px;
    margin-top: 50px;
    line-height: 1.65;
    text-align: center;
}

/* セクション ABOUT US */
.about-wrap{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.pc-about-left-img{
    border-bottom-right-radius: 50px;
}
.title-aboutus img{
    height: 78px;
}
.title-aboutus-sp{
    display: none;
}
.picture{
    width: 50%;
}
.title{
    text-align: center;
}
.title img{
    height: 78px;
}

.about-box{
    margin-top: 60px;
    width: 41%;
}
.read{
    font-size: 44px;
    line-height: 1.38;
    margin-top: 50px;
}
.about-text{
    line-height: 1.62;
    margin-top: 30px;
    font-size: 16px;
}

/* セクション MENU */
.container{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.card{
    width: 30%;
}

.menu-img{
    width: 100%;
    border-top-right-radius: 50px;

}
.menu{
    color: #d30202;
    font-size: 38px;
    margin-top: -14px;
    margin-left: 12px;
}

.menu-text{
    line-height: 1.47;
    margin-top: 24px;
    font-size: 17px;
}

/* セクション GALLERY */
.slider-gallery{
    margin-top: 26px;
    display: flex;
}
.gallery-img{
    width: 20%;
}

/* セクション EVENT */
.event-box{
    background: #fff;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 40px;
    padding-left: 162px;
    padding-bottom: 40px;
    border:solid 3.68px #4f260b;
    box-sizing: border-box;
}

.event-text-box{
    display: flex;
}

.event-data{
    font-size: 23px;
    line-height: 1.95;
    margin-right: 56px;
}

.event-text{
    font-size: 23px;
    line-height: 1.95;
    text-decoration: underline;
}

/* セクション Access */
.map iframe{
    width: 100%;
    height: 470px;
    margin-top: 46px;
}

/* セクション footer */
.footer-wrap{
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
}
.footer-logo{
    height: 50px;
    margin-right: 70px;
}
.footer-textbox{
    text-align: left;
}
.footer-text{
    font-size: 20px;
    line-height: 1.95;
}
.copyright{
    font-size: 16px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.circle-btn{
    width: 125px;
    text-align: right;
    position:fixed;
    bottom:20px;
    right:20px;
}



/* ハンバーガーメニュー */
@media screen and (max-width:1100px) {
    .pc-nav{
        display: none;
    }
    .hamburger{
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        height: 33px;
        cursor: pointer;
        z-index: 1000;
    }
    .hamburger span{
        display: block;
        width: 33px;
        height: 2px;
        background: #fff;
        position: relative;
        top: 10px;
    }

.hamburger span::before,
.hamburger span::after {
    content: '';
    display: block;
    width: 33px;
    height:  2px;
    background: #fff;
    position: absolute;
}

.hamburger span::before{
    bottom: 10px;
}

.hamburger span::after{
    top: 10px;
}

.open span{
    background: transparent;
}
.open span::before {
    bottom: 0px;
    transform: rotate(45deg);
}

.open span::after{
    top: 0px;
    transform: rotate(135deg);
}

.sp-nav{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.sp-nav ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sp-nav ul li a{
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: block;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

/* 1100px以下 セクション コンセプト */
.concept1{
    font-size: 26px;
    text-align: center;
}
.concept2{
    font-size: 60px;
    margin-top: 50px;
    line-height: 1.17;
    text-align: center;
}
.concept3{
    font-size: 18px;
    margin-top: 50px;
    line-height: 1.65;
    text-align: center;
}

/* セクション ABOUT US */
.about-box{
    margin-left: 10px;
    margin-right: 10px;
}
.read{
    font-size: 30px;
    line-height: 1.25;
    margin-top: 36px;
}
.about-text{
    line-height: 1.75;
    margin-top: 30px;
    font-size: 14px;
}

}

/* モバイル 767px */
@media screen and (max-width: 767px){

.title-aboutus-sp{
    display: block;
}

 /* sp コンセプト */
.concept1{
    font-size: 17px;
    text-align: center;
}
.concept2{
    font-size: 38px;
    margin-top: 30px;
    line-height: 1.15;
    text-align: center;
}
.concept3{
    font-size: 14px;
    margin-top: 16px;
    line-height: 1.87;
    text-align: center;
}
   /* sp ABOUT US */
.title-aboutus-sp-img{
    display: block;
    margin: 0 auto;
    height: 78px;
    
}
.about-wrap{
    display: block;
    margin: 0 auto;
}
.about-sp-img{
    width: 100%;
}
.title-aboutus img{
    display: none;
}
.about-box{
    margin-top: 34px;
    margin: 0 auto;
    width: 90%;
}
.read{
    font-size: 36px;
    line-height: 1.25;
    margin-top: 36px;
}
.about-text{
    line-height: 1.75;
    margin-top: 30px;
    font-size: 16px;
}

   /* sp MENU */
.container{
    max-width: 767px;
    display: block;
    margin: 0 auto;
}
.card{
    width:96%;
    margin: 0 auto;
    margin-top: 60px;
}
.menu{
    font-size: 40px;
    margin-top: -14px;
    margin-left: 12px;
}

   /* sp GALLERY; */
.slider-gallery{
    margin-top: 26px;
    display: flex;
}
.gallery-img{
    width: 100%;
}

   /* sp EVENT */
.event-box{
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 4px;
    padding-left: 30px;
    padding-bottom: 34px;
    box-sizing: border-box;
}

.event-text-box{
    display:block
}

.event-data{
    font-size: 16px;
    line-height: 1.4;
    margin-right: 30px;
    margin-top: 30px;
}

.event-text{
    font-size: 16px;
    line-height: 1;
    text-decoration: underline;
}

   /* sp フッター */
.footer-wrap{
    padding: 10px;
    display: block
}

.footer-logo{
    display: block;
    margin-right: auto;
    height: 50px;
}
.footer-textbox{
    margin-top: 34px;
    text-align: left;
}
.footer-text{
    font-size: 18px;
    line-height: 1.95;
}

}