@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

.header{
    padding: 20px 20px;
    background: #00f;
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    align-items:center;
}

ul{
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 auto;
}

li{
    padding: 10px 30px;
    border-left: 1px solid;
    font-size: 14px;
}
li:first-child{
    border: none;
}


@media screen and (max-width: 767px) {
    .header{
        display: block;
        padding: 10px 6px;
    }
    h1{
        margin: 10px 4px;
    }
    ul{
        display: block;
    }
    li{
        border-left: 0px;
        border-bottom: 1px solid;
        padding: 10px 6px;
    }
    li:first-child{
        border-bottom: 1px solid;
    }